In [1]:
import pandas as pd
import numpy as np

import json
import pickle
import itertools
#from flask import *

from geopy.distance import distance, geodesic
import time
import matplotlib.pyplot as plt
from overpy.exception import OverpassTooManyRequests, OverpassGatewayTimeout
import importlib
import geo_utils as geou
import warnings
warnings.filterwarnings('ignore')
#import geo_consts as gc

In [2]:
coord = pd.read_excel('data/terminal_data_hackathon v4.xlsx', sheet_name='TIDS', index_col=0)
incomes = pd.read_excel('data/terminal_data_hackathon v4.xlsx', sheet_name='Incomes', index_col='TID')
times = pd.read_csv('data/times v4.csv')

In [4]:
(incomes.sum(axis=1)/1000000 /(91/14)).apply(np.ceil).sum()

2120.0

In [27]:
2120/14*time/720

4.2063492063492065

In [24]:
incomes.iloc[:,:15]

,остаток на 31.08.2022 (входящий),2022-09-01 00:00:00,2022-09-02 00:00:00,2022-09-03 00:00:00,2022-09-04 00:00:00,2022-09-05 00:00:00,2022-09-06 00:00:00,2022-09-07 00:00:00,2022-09-08 00:00:00,2022-09-09 00:00:00,2022-09-10 00:00:00,2022-09-11 00:00:00,2022-09-12 00:00:00,2022-09-13 00:00:00,2022-09-14 00:00:00
TID,,,,,,,,,,,,,,,
406136,160000,90000,105000,99000,107000,110000,60000,75000,89000,95000,116000,85000,110000,84000,51000
406139,387000,103000,206000,168000,124000,78000,165000,164000,174000,88000,240000,160000,122000,100000,179000
406145,287000,143000,136000,124000,117000,123000,140000,139000,138000,118000,126000,113000,103000,154000,130000
406148,355000,50000,73000,53000,65000,75000,100000,53000,52000,82000,63000,50000,55000,85000,83000
406180,597000,96000,82000,71000,72000,86000,55000,55000,75000,75000,73000,62000,67000,80000,61000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699578,47000,0,0,10000,0,10000,6000,0,25000,0,5000,0,5000,0,13000
699579,236000,49000,68000,0,0,13000,50000,0,132000,35000,42000,0,84000,77000,41000
699629,67000,63000,63000,63000,64000,74000,0,121000,63000,72000,57000,67000,57000,59000,50000
699641,278000,63000,0,0,51000,0,0,77000,0,40000,0,0,0,79000,0
699664,333000,0,0,47000,0,43000,0,0,36000,35000,0,50000,0,0,67000

In [28]:
(incomes.iloc[:,:15].sum(axis=1)/1000000 /(14/14)).apply(np.ceil).sum()

2621.0

In [31]:
2621/14*time/720

5.655431547619048

In [44]:
np.log10(45)

1.6532125137753437

In [46]:
380/0.6

633.3333333333334

In [71]:
12**(1.1)/2**(1.1)

7.1773871931078945

In [69]:
2**(1.05)

2.070529847682755

In [62]:
12**(0.95)/3**(0.95)

3.7321319661472296

In [61]:
12**(0.9)/3**(0.9)

3.482202253184497

In [85]:
1000/np.log2(45)*10**(1.1)

2292.3508508185237

In [84]:
1000/np.log2(100)*12**(1.1)

2315.6832129389386

In [37]:
2621/14*12/720

3.1202380952380953

In [30]:
time=21.75

In [9]:
incomes.shape

(1630, 92)

In [97]:
import os
os.getcwd()

'C:\\Users\\Anna\\Desktop\\ЛЦТ 6'

In [95]:
#from opt_route_1 import *

In [1]:
from opt_route_2 import *

In [2]:
cl = optroutefinder_lanch(path_to_times='data',
    path_to_coords='data',
    path_to_incomes='data',
    path_to_outliers='data',
    path_to_predict='data',
    max_cash = 1000000,
    p_per_day = 0.02/365,
    days_limit = 14,
    car_cost = 20000,
    work_day = 12*60,
    service_time = 10,
    p_service_cost=0.0001,
    predict_cash_trust=0.9,
    num_veh = 5,
    cycle_time=480,
    koef_priority_0 = 10000000,
    koef_nes_degree=1.3,
    koef_step_func=1,
    koef_costs_without_vehicle=10000,
    outlier_limit=300000,
    koef_outlier = 0.1)

DAY 1
Objective: 285240
Maximum of the route distances: 652min
Точек объезда в день - 157
1 день - Готово
DAY 2
Objective: 553755
Maximum of the route distances: 625min
Точек объезда в день - 132
2 день - Готово
DAY 3
Objective: 877840
Maximum of the route distances: 709min
Точек объезда в день - 162
3 день - Готово
DAY 4
Objective: 1210870
Maximum of the route distances: 707min
Точек объезда в день - 147
4 день - Готово
DAY 5
Objective: 1585454
Maximum of the route distances: 709min
Точек объезда в день - 130
5 день - Готово
DAY 6
Objective: 1961027
Maximum of the route distances: 710min
Точек объезда в день - 163
6 день - Готово
DAY 7
Objective: 154179327
Maximum of the route distances: 710min
Точек объезда в день - 276
7 день - Готово
ПРОПУЩЕНА КРИТИЧЕСКАЯ ТОЧКА

In [3]:
cl.costs_without_vehicle_sum

-352558.3561643836

In [9]:
cl.bags[2]

{407002,
 606533,
 608096,
 609492,
 622381,
 634558,
 646784,
 649161,
 683719,
 692629}

In [6]:
import pickle

In [8]:
import datetime
import pickle
today = datetime.date.today()

In [149]:
with open('results_2023-05-25_2.6_1.pickle', 'rb') as f:
        qa= pd.read_pickle(f)

In [10]:
!pip freeze > requirements.txt

In [48]:
pd.to_datetime(qa.balance.iloc[:,1].name)+timedelta(hours=8, minutes=30)

Timestamp('2022-09-01 08:30:00')

In [156]:
with open('CloudRun2/results_2023-05-26_2.6_0.9_300000_0.2.pickle', 'rb') as f:
        cl= pd.read_pickle(f)

In [166]:
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)

In [167]:
cl.balance

,остаток на 31.08.2022 (входящий),2022-09-01 00:00:00,2022-09-02 00:00:00,2022-09-03 00:00:00,2022-09-04 00:00:00,2022-09-05 00:00:00,2022-09-06 00:00:00,2022-09-07 00:00:00,2022-09-08 00:00:00,2022-09-09 00:00:00,2022-09-10 00:00:00,2022-09-11 00:00:00,2022-09-12 00:00:00,2022-09-13 00:00:00,2022-09-14 00:00:00,2022-09-15 00:00:00,2022-09-16 00:00:00,2022-09-17 00:00:00,2022-09-18 00:00:00,2022-09-19 00:00:00,2022-09-20 00:00:00,2022-09-21 00:00:00,2022-09-22 00:00:00,2022-09-23 00:00:00,2022-09-24 00:00:00,2022-09-25 00:00:00,2022-09-26 00:00:00,2022-09-27 00:00:00,2022-09-28 00:00:00,2022-09-29 00:00:00,2022-09-30 00:00:00,2022-10-01 00:00:00,2022-10-02 00:00:00,2022-10-03 00:00:00,2022-10-04 00:00:00,2022-10-05 00:00:00,2022-10-06 00:00:00,2022-10-07 00:00:00,2022-10-08 00:00:00,2022-10-09 00:00:00,2022-10-10 00:00:00,2022-10-11 00:00:00,2022-10-12 00:00:00,2022-10-13 00:00:00,2022-10-14 00:00:00,2022-10-15 00:00:00,2022-10-16 00:00:00,2022-10-17 00:00:00,2022-10-18 00:00:00,2022-10-19 00:00:00,2022-10-20 00:00:00,2022-10-21 00:00:00,2022-10-22 00:00:00,2022-10-23 00:00:00,2022-10-24 00:00:00,2022-10-25 00:00:00,2022-10-26 00:00:00,2022-10-27 00:00:00,2022-10-28 00:00:00,2022-10-29 00:00:00,2022-10-30 00:00:00,2022-10-31 00:00:00,2022-11-01 00:00:00,2022-11-02 00:00:00,2022-11-03 00:00:00,2022-11-04 00:00:00,2022-11-05 00:00:00,2022-11-06 00:00:00,2022-11-07 00:00:00,2022-11-08 00:00:00,2022-11-09 00:00:00,2022-11-10 00:00:00,2022-11-11 00:00:00,2022-11-12 00:00:00,2022-11-13 00:00:00,2022-11-14 00:00:00,2022-11-15 00:00:00,2022-11-16 00:00:00,2022-11-17 00:00:00,2022-11-18 00:00:00,2022-11-19 00:00:00,2022-11-20 00:00:00,2022-11-21 00:00:00,2022-11-22 00:00:00,2022-11-23 00:00:00,2022-11-24 00:00:00,2022-11-25 00:00:00,2022-11-26 00:00:00,2022-11-27 00:00:00,2022-11-28 00:00:00,2022-11-29 00:00:00,2022-11-30 00:00:00
TID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
406136,160000,250000,355000,454000,561000,110000,170000,245000,334000,429000,545000,630000,740000,824000,875000,51000,201000,201000,426000,501000,501000,676000,731000,856000,110000,225000,100000,175000,274000,374000,374000,480000,600000,685000,787000,881000,0,195000,302000,411000,411000,595000,677000,747000,852000,977000,90000,181000,296000,391000,472000,570000,692000,782000,857000,932000,80000,169000,264000,373000,498000,573000,646000,730000,855000,955000,86000,185000,306000,397000,476000,573000,678000,106000,208000,286000,364000,421000,509000,599000,723000,810000,91000,169000,169000,334000,334000,523000,629000,723000,798000,872000
406139,387000,490000,206000,374000,498000,576000,741000,905000,174000,262000,502000,662000,784000,884000,179000,305000,498000,588000,813000,862000,226000,321000,464000,635000,795000,149000,290000,388000,541000,662000,861000,187000,358000,512000,711000,929000,150000,287000,471000,471000,662000,662000,1036000,111000,352000,493000,630000,779000,779000,216000,349000,558000,659000,868000,134000,266000,406000,588000,731000,945000,120000,318000,413000,597000,768000,905000,177000,341000,486000,597000,780000,949000,153000,351000,494000,645000,772000,1014000,140000,319000,464000,612000,776000,929000,151000,308000,514000,696000,819000,957000,112000,291000
406145,287000,430000,136000,260000,377000,500000,640000,779000,917000,118000,244000,357000,460000,614000,744000,132000,270000,416000,539000,670000,810000,940000,129000,287000,406000,519000,641000,776000,892000,137000,137000,137000,517000,641000,797000,935000,148000,314000,467000,582000,582000,861000,147000,270000,412000,560000,679000,802000,935000,139000,304000,453000,592000,704000,840000,990000,148000,295000,295000,431000,561000,682000,814000,959000,167000,298000,413000,524000,524000,798000,930000,179000,319000,458000,458000,458000,824000,991000,100000,173000,303000,407000,526000,626000,805000,974000,118000,236000,350000,478000,599000,723000
406148,355000,50000,123000,176000,241000,316000,100000,153000,205000,287000,350000,400000,455000,540000,623000,673000,728000,85000,142000,212000,302000,382000,467000,542000,55000,122000,197000,272000,337000,399000,475000,545000,613000,75000,150000,215000,275000,365000,440000,440000,440000,548000,599000,667000,0,143000,203000,263000,319000,401000,471000,540000,625000,695000,61000,121000,186000,248000,323000,379000,464000,519000,594000,644000,697000,75000,137000,187000,257000,337000,432000,482000,532000,657000,722000,772000,63000,121000,186000,257000,344000,411000,459000,514000,579000,664000,759000,68000,130000,130000,248000,70000
406180,597000,96000,178000,249000,72000,158000,213000,268000,343000,418000,73000,135000,202000,282000,343000,90000,185000,251000,66000,131000,196000,279000,346000,433000,513000,585000,76000,146000,221000,296000,392000,467000,527000,604000,687000,0,180000,268000,321000,386000,386000,545000,633000,713000,793000,84000,154000,227000,275000,351000,460000,560000,642000,722000,795000,65000,150000,226000,311000,60000,153000,227000,277000,352000,112000,195000,268000,323000,398000,482000,571000,656000,746000,63000,131000,208000,273000,329000,420000,500000,578000,633000,715000,56000,126000,185000,290000,360000,437000,87000,146000,55000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699578,47000,0,0,10000,0,10000,16000,16000,41000,41000,5000,5000,10000,10000,23000,52000,52000,52000,0,0,0,13000,31000,31000,31000,0,22000,42000,42000,10000,33000,33000,33000,88000,100000,100000,100000,117000,117000,117000,127000,18000,31000,51000,51000,51000,51000,19000,0,8000,8000,24000,24000,24000,29000,25000,45000,45000,55000,55000,55000,109000,109000,124000,129000,129000,129000,129000,20000,30000,42000,63000,83000,93000,93000,113000,128000,0,15000,40000,48000,48000,83000,93000,103000,117000,144000,154000,154000,45000,88000,120000
699579,236000,285000,353000,353000,0,13000,63000,63000,195000,230000,42000,42000,126000,203000,244000,332000,332000,332000,0,60000,60000,84000,84000,125000,125000,125000,206000,242000,292000,0,85000,85000,85000,209000,273000,301000,363000,413000,422000,422000,533000,35000,136000,151000,151000,151000,151000,114000,70000,142000,195000,236000,236000,236000,342000,342000,532000,578000,655000,0,0,48000,125000,167000,230000,230000,230000,230000,150000,246000,296000,370000,442000,442000,442000,558000,664000,94000,184000,233000,233000,233000,320000,388000,477000,558000,596000,0,0,104000,167000,94000
699629,67000,63000,126000,189000,64000,138000,138000,259000,322000,394000,451000,518000,57000,116000,166000,222000,289000,359000,420000,476000,533000,589000,638000,57000,118000,62000,118000,166000,227000,291000,358000,410000,480000,546000,611000,664000,721000,68000,134000,191000,243000,304000,362000,50000,113000,185000,241000,284000,336000,392000,443000,485000,535000,593000,652000,52000,98000,158000,210000,263000,328000,384000,436000,486000,56000,118000,166000,208000,246000,299000,351000,387000,442000,505000,549000,591000,49000,107000,154000,205000,258000,316000,371000,49000,102000,149000,203000,258000,312000,359000,421000,50000
699641,278000,63000,63000,63000,51000,51000,51000,128000,128000,168000,0,0,0,79000,79000,129000,129000,174000,43000,75000,75000,113000,113000,157000,157000,207000,207000,259000,259000,51000,51000,100000,100000,157000,157000,157000,242000,242000,292000,335000,335000,0,56000,56000,106000,106000,170000,170000,0,41000,101000,135000,159000,159000,209000,209000,259000,259000,338000,338000,53000,53000,103000,103000,165000,211000,211000,266000,0,63000,63000,120000,141000,182000,182000,245000,245000,245000,318000,318000,0,54000,94000,142000,142000,142000,238000,238000,277000,0,85000,45000
699664,333000,333000,333000,380000,0,43000,43000,43000,79000,114000,114000,164000,164000,164000,231000,231000,295000,0,50000,50000,50000,50000,111000,111000,164000,199000,199000,199000,249000,249000,0,65000,65000,65000,142000,142000,194000,194000,194000,194000,274000,274000,32000,32000,89000,89000,149000,179000,179000,217000,217000,276000,276000,320000,0,0,55000,55000,91000,91000,131000,131000,149000,149000,58000,104000,121000,121000,172000,172000,239000,239000,279000,279000,322000,322000,322000,0,67000,67000,127000,156000,174000,192000,222000,257000,290000,290000,334000,0,55000,55000

In [155]:
qa.balance.shape[1]

92

In [38]:
qa.balance.iloc[:,1].name

'2022-09-01 00:00:00'

In [111]:
y=[x+1 for x in qa.route_vehicle[1][0]]
dist_with_service = [int(qa.distance_matrix[y[i]][y[i+1]]) for i in range(len(y)-1)]
dist= list(map(lambda x: max(0, x-10), dist))

In [134]:
day_route_df = pd.DataFrame(index=qa.balance.iloc[qa.route_vehicle[1][0][1:]].index,
                            columns=['start_time', 'end_time', 'route_time_to_tid', 'route_time_to_tid_with_service'])
start = pd.to_datetime(qa.balance.iloc[:,1].name)
day_route_df.loc[:,'route_time_to_tid'] = dist
day_route_df.loc[:,'route_time_to_tid_with_service'] = dist_with_service
day_route_df['route_time_to_tid_with_service_cumsum'] = day_route_df.route_time_to_tid_with_service.cumsum()
day_route_df.loc[:,'start_time'] = start + day_route_df.route_time_to_tid_with_service_cumsum.apply(lambda x: 
                                        timedelta(hours=8, minutes=x))
day_route_df['end_time'] = day_route_df['start_time'] + timedelta(minutes=qa.service_time)

In [140]:
def create_day_route_df(obj, day_num, vehicle):
    '''Вывод датасета по маршруту одного броневика.
    Входные параметры:
    obj: класс отработавшего оптимизатора
    day_num: номер дня от 1 до 91
    vehicle: броневик, значения из списка [0,1,2,3,4] '''
    
    y=[x+1 for x in qa.route_vehicle[day_num][vehicle]]
    dist_with_service = [int(qa.distance_matrix[y[i]][y[i+1]]) for i in range(len(y)-1)]
    dist= list(map(lambda x: max(0, x-10), dist_with_service))
    
    day_route_df = pd.DataFrame(index=obj.balance.iloc[obj.route_vehicle[day_num][vehicle][1:]].index,
                            columns=['start_time', 'end_time', 'route_time_to_tid', 'route_time_to_tid_with_service'])
    start_day = pd.to_datetime(obj.balance.iloc[:,day_num].name)
    day_route_df.loc[:,'route_time_to_tid'] = dist
    day_route_df.loc[:,'route_time_to_tid_with_service'] = dist_with_service
    day_route_df['route_time_to_tid_with_service_cumsum'] = day_route_df.route_time_to_tid_with_service.cumsum()
    day_route_df.loc[:,'start_time'] = start_day + day_route_df.route_time_to_tid_with_service_cumsum.apply(lambda x: 
                                            timedelta(hours=8, minutes=x))
    day_route_df['end_time'] = day_route_df['start_time'] + timedelta(minutes=obj.service_time)
    return day_route_df

In [145]:
create_day_route_df(qa, 91, 0)
# расстояния в минутах округлены для удобства в бОльшую сторону.

,start_time,end_time,route_time_to_tid,route_time_to_tid_with_service,route_time_to_tid_with_service_cumsum
TID,,,,,
638416,2022-11-30 08:00:00,2022-11-30 08:10:00,0,0,0
635202,2022-11-30 08:50:00,2022-11-30 09:00:00,40,50,50
698998,2022-11-30 09:27:00,2022-11-30 09:37:00,27,37,87
607523,2022-11-30 10:01:00,2022-11-30 10:11:00,24,34,121
634728,2022-11-30 10:28:00,2022-11-30 10:38:00,17,27,148
406593,2022-11-30 10:44:00,2022-11-30 10:54:00,6,16,164
605329,2022-11-30 11:12:00,2022-11-30 11:22:00,18,28,192
608039,2022-11-30 11:30:00,2022-11-30 11:40:00,8,18,210
635593,2022-11-30 11:54:00,2022-11-30 12:04:00,14,24,234
635229,2022-11-30 12:22:00,2022-11-30 12:32:00,18,28,262
698705,2022-11-30 12:55:00,2022-11-30 13:05:00,23,33,295
682176,2022-11-30 13:11:00,2022-11-30 13:21:00,6,16,311
637503,2022-11-30 13:31:00,2022-11-30 13:41:00,10,20,331
634691,2022-11-30 13:55:00,2022-11-30 14:05:00,14,24,355
629731,2022-11-30 14:14:00,2022-11-30 14:24:00,9,19,374
677267,2022-11-30 14:30:00,2022-11-30 14:40:00,6,16,390
622218,2022-11-30 14:44:00,2022-11-30 14:54:00,4,14,404
657936,2022-11-30 14:58:00,2022-11-30 15:08:00,4,14,418
636405,2022-11-30 15:13:00,2022-11-30 15:23:00,5,15,433
683117,2022-11-30 15:31:00,2022-11-30 15:41:00,8,18,451
683121,2022-11-30 15:47:00,2022-11-30 15:57:00,6,16,467
634936,2022-11-30 16:05:00,2022-11-30 16:15:00,8,18,485
686363,2022-11-30 16:18:00,2022-11-30 16:28:00,3,13,498
607096,2022-11-30 16:29:00,2022-11-30 16:39:00,1,11,509
606501,2022-11-30 16:49:00,2022-11-30 16:59:00,10,20,529
627708,2022-11-30 17:06:00,2022-11-30 17:16:00,7,17,546
635511,2022-11-30 17:20:00,2022-11-30 17:30:00,4,14,560
634895,2022-11-30 17:48:00,2022-11-30 17:58:00,18,28,588
680328,2022-11-30 18:01:00,2022-11-30 18:11:00,3,13,601
629520,2022-11-30 18:31:00,2022-11-30 18:41:00,20,30,631
609992,2022-11-30 18:42:00,2022-11-30 18:52:00,1,11,642
609958,2022-11-30 19:02:00,2022-11-30 19:12:00,10,20,662
606006,2022-11-30 19:23:00,2022-11-30 19:33:00,11,21,683
634558,2022-11-30 19:49:00,2022-11-30 19:59:00,16,26,709

In [133]:
day_route_df['end_time'] = day_route_df['start_time'] + timedelta(minutes=qa.service_time)

In [71]:
qa.route_vehicle[1][0]

[-1,
 560,
 240,
 236,
 574,
 814,
 1511,
 14,
 839,
 754,
 405,
 293,
 1141,
 544,
 17,
 1274,
 541,
 23,
 576,
 1489,
 1441,
 1339,
 881,
 1240,
 1275,
 13,
 8,
 1066,
 1033,
 1050,
 1572,
 1101,
 204,
 398,
 949,
 598,
 1455]

In [77]:
y=[x+1 for x in qa.route_vehicle[1][0]]

In [80]:
y

[0,
 561,
 241,
 237,
 575,
 815,
 1512,
 15,
 840,
 755,
 406,
 294,
 1142,
 545,
 18,
 1275,
 542,
 24,
 577,
 1490,
 1442,
 1340,
 882,
 1241,
 1276,
 14,
 9,
 1067,
 1034,
 1051,
 1573,
 1102,
 205,
 399,
 950,
 599,
 1456]

In [88]:
qa.distance_matrix[561, 241]

40

In [65]:
[distance_matrix_df.loc[day_route_df.index[0], day_route_df.index[1]]-10]

40

In [68]:
qa.times[(qa.times.Origin_tid==630465)&(qa.times.Destination_tid==608021)]

         Origin_tid  Destination_tid  Total_Time  Total_time_plus_service
2561959      630465           608021       29.88                    39.88

In [64]:
day_route_df.iloc[1,2] = distance_matrix_df.loc[]

                 start_time             end_time route_time_to_tid
TID
630465  2022-09-01 08:00:00  2022-09-01 08:10:00                 0
608021                  NaN                  NaN               NaN
608012                  NaN                  NaN               NaN
634558                  NaN                  NaN               NaN
635763                  NaN                  NaN               NaN
692629                  NaN                  NaN               NaN
407002                  NaN                  NaN               NaN
636073                  NaN                  NaN               NaN
635516                  NaN                  NaN               NaN
619657                  NaN                  NaN               NaN
609338                  NaN                  NaN               NaN
660401                  NaN                  NaN               NaN
629733                  NaN                  NaN               NaN
605354                  NaN                  NaN               NaN
677501                  NaN                  NaN               NaN
629728                  NaN                  NaN               NaN
605370                  NaN                  NaN               NaN
634651                  NaN                  NaN               NaN
689150                  NaN                  NaN               NaN
688262                  NaN                  NaN               NaN
682297                  NaN                  NaN               NaN
637199                  NaN                  NaN               NaN
674406                  NaN                  NaN               NaN
677505                  NaN                  NaN               NaN
406597                  NaN                  NaN               NaN
406509                  NaN                  NaN               NaN
649161                  NaN                  NaN               NaN
646784                  NaN                  NaN               NaN
646945                  NaN                  NaN               NaN
698718                  NaN                  NaN               NaN
657216                  NaN                  NaN               NaN
607716                  NaN                  NaN               NaN
619610                  NaN                  NaN               NaN
644007                  NaN                  NaN               NaN
634703                  NaN                  NaN               NaN
688325                  NaN                  NaN               NaN

In [61]:
day_route_df

                 start_time             end_time route_time
TID
630465  2022-09-01 08:00:00  2022-09-01 08:10:00        NaN
608021                  NaN                  NaN        NaN
608012                  NaN                  NaN        NaN
634558                  NaN                  NaN        NaN
635763                  NaN                  NaN        NaN
692629                  NaN                  NaN        NaN
407002                  NaN                  NaN        NaN
636073                  NaN                  NaN        NaN
635516                  NaN                  NaN        NaN
619657                  NaN                  NaN        NaN
609338                  NaN                  NaN        NaN
660401                  NaN                  NaN        NaN
629733                  NaN                  NaN        NaN
605354                  NaN                  NaN        NaN
677501                  NaN                  NaN        NaN
629728                  NaN                  NaN        NaN
605370                  NaN                  NaN        NaN
634651                  NaN                  NaN        NaN
689150                  NaN                  NaN        NaN
688262                  NaN                  NaN        NaN
682297                  NaN                  NaN        NaN
637199                  NaN                  NaN        NaN
674406                  NaN                  NaN        NaN
677505                  NaN                  NaN        NaN
406597                  NaN                  NaN        NaN
406509                  NaN                  NaN        NaN
649161                  NaN                  NaN        NaN
646784                  NaN                  NaN        NaN
646945                  NaN                  NaN        NaN
698718                  NaN                  NaN        NaN
657216                  NaN                  NaN        NaN
607716                  NaN                  NaN        NaN
619610                  NaN                  NaN        NaN
644007                  NaN                  NaN        NaN
634703                  NaN                  NaN        NaN
688325                  NaN                  NaN        NaN

In [56]:
distance_matrix_df = pd.pivot_table(qa.times, values='Total_time_plus_service', index=['Origin_tid'],
                                    columns=['Destination_tid'], aggfunc=np.sum).fillna(0).apply(np.round).applymap(int)

In [58]:
distance_matrix = np.array(distance_matrix_df)

In [53]:
qa.route_vehicle[1][0][1:]

[560,
 240,
 236,
 574,
 814,
 1511,
 14,
 839,
 754,
 405,
 293,
 1141,
 544,
 17,
 1274,
 541,
 23,
 576,
 1489,
 1441,
 1339,
 881,
 1240,
 1275,
 13,
 8,
 1066,
 1033,
 1050,
 1572,
 1101,
 204,
 398,
 949,
 598,
 1455]

In [52]:
day_route_df

                 start_time end_time route_time
TID
630465  2022-09-01 08:00:00      NaN        NaN
608021                  NaN      NaN        NaN
608012                  NaN      NaN        NaN
634558                  NaN      NaN        NaN
635763                  NaN      NaN        NaN
692629                  NaN      NaN        NaN
407002                  NaN      NaN        NaN
636073                  NaN      NaN        NaN
635516                  NaN      NaN        NaN
619657                  NaN      NaN        NaN
609338                  NaN      NaN        NaN
660401                  NaN      NaN        NaN
629733                  NaN      NaN        NaN
605354                  NaN      NaN        NaN
677501                  NaN      NaN        NaN
629728                  NaN      NaN        NaN
605370                  NaN      NaN        NaN
634651                  NaN      NaN        NaN
689150                  NaN      NaN        NaN
688262                  NaN      NaN        NaN
682297                  NaN      NaN        NaN
637199                  NaN      NaN        NaN
674406                  NaN      NaN        NaN
677505                  NaN      NaN        NaN
406597                  NaN      NaN        NaN
406509                  NaN      NaN        NaN
649161                  NaN      NaN        NaN
646784                  NaN      NaN        NaN
646945                  NaN      NaN        NaN
698718                  NaN      NaN        NaN
657216                  NaN      NaN        NaN
607716                  NaN      NaN        NaN
619610                  NaN      NaN        NaN
644007                  NaN      NaN        NaN
634703                  NaN      NaN        NaN
688325                  NaN      NaN        NaN

In [32]:
qa.terms_dict[1]

{406148,
 406180,
 406196,
 406504,
 406509,
 406536,
 406596,
 406597,
 407002,
 407025,
 605329,
 605354,
 605370,
 605374,
 605377,
 605381,
 605393,
 606025,
 606027,
 606029,
 606049,
 606110,
 606125,
 606127,
 607509,
 607569,
 607716,
 607723,
 607725,
 607752,
 607754,
 607761,
 607773,
 608012,
 608021,
 608039,
 608044,
 608057,
 608061,
 608555,
 609166,
 609331,
 609338,
 609409,
 609806,
 609833,
 609844,
 609956,
 609993,
 616468,
 616680,
 616681,
 619507,
 619610,
 619617,
 619657,
 619724,
 622377,
 622424,
 622445,
 622486,
 625032,
 627777,
 628617,
 628655,
 628971,
 629724,
 629727,
 629728,
 629733,
 629748,
 629749,
 629806,
 629807,
 629875,
 630465,
 633088,
 633142,
 634022,
 634024,
 634558,
 634651,
 634659,
 634660,
 634663,
 634673,
 634690,
 634692,
 634697,
 634703,
 634705,
 634708,
 634729,
 634738,
 634742,
 634745,
 634755,
 634756,
 634761,
 634763,
 634789,
 634810,
 634815,
 634827,
 634828,
 634870,
 634878,
 634930,
 634938,
 635209,
 635217,
 635272,
 635295,
 635513,
 635516,
 635576,
 635586,
 635593,
 635597,
 635705,
 635726,
 635746,
 635763,
 636047,
 636070,
 636071,
 636073,
 636077,
 636411,
 636462,
 636468,
 636538,
 636710,
 636754,
 636762,
 636763,
 637187,
 637189,
 637199,
 637503,
 637505,
 637517,
 637522,
 637523,
 637535,
 637536,
 637537,
 637538,
 638406,
 638490,
 638745,
 641549,
 641579,
 644007,
 644019,
 644721,
 644823,
 644862,
 645381,
 645942,
 646576,
 646761,
 646784,
 646840,
 646867,
 646945,
 647777,
 648023,
 648147,
 649161,
 649162,
 649803,
 649977,
 652813,
 657216,
 658874,
 658899,
 658916,
 659661,
 660401,
 660498,
 661919,
 662905,
 663163,
 663164,
 664161,
 665568,
 666579,
 668122,
 668402,
 669262,
 674406,
 676345,
 676374,
 676401,
 676453,
 676981,
 676997,
 677501,
 677505,
 677522,
 677559,
 677919,
 679082,
 679106,
 679676,
 680612,
 682188,
 682267,
 682271,
 682294,
 682297,
 683103,
 683122,
 683128,
 683741,
 683789,
 686140,
 686161,
 686168,
 686170,
 686178,
 687457,
 687668,
 688214,
 688262,
 688325,
 688349,
 688365,
 688367,
 688383,
 689150,
 690848,
 692541,
 692629,
 692835,
 693953,
 695012,
 698654,
 698656,
 698672,
 698673,
 698674,
 698681,
 698705,
 698708,
 698718,
 699088,
 699540,
 699572,
 699577,
 699578,
 699629,
 699641}

In [21]:
qa.route_vehicle[1][0][1:]

[560,
 240,
 236,
 574,
 814,
 1511,
 14,
 839,
 754,
 405,
 293,
 1141,
 544,
 17,
 1274,
 541,
 23,
 576,
 1489,
 1441,
 1339,
 881,
 1240,
 1275,
 13,
 8,
 1066,
 1033,
 1050,
 1572,
 1101,
 204,
 398,
 949,
 598,
 1455]

In [77]:
incomes

,остаток на 31.08.2022 (входящий),2022-09-01 00:00:00,2022-09-02 00:00:00,2022-09-03 00:00:00,2022-09-04 00:00:00,2022-09-05 00:00:00,2022-09-06 00:00:00,2022-09-07 00:00:00,2022-09-08 00:00:00,2022-09-09 00:00:00,...,2022-11-21 00:00:00,2022-11-22 00:00:00,2022-11-23 00:00:00,2022-11-24 00:00:00,2022-11-25 00:00:00,2022-11-26 00:00:00,2022-11-27 00:00:00,2022-11-28 00:00:00,2022-11-29 00:00:00,2022-11-30 00:00:00
TID,,,,,,,,,,,,,,,,,,,,,
406136,160000,90000,105000,99000,107000,110000,60000,75000,89000,95000,...,91000,78000,0,165000,0,189000,106000,94000,75000,74000
406139,387000,103000,206000,168000,124000,78000,165000,164000,174000,88000,...,164000,153000,151000,157000,206000,182000,123000,138000,112000,179000
406145,287000,143000,136000,124000,117000,123000,140000,139000,138000,118000,...,119000,100000,179000,169000,118000,118000,114000,128000,121000,124000
406148,355000,50000,73000,53000,65000,75000,100000,53000,52000,82000,...,48000,55000,65000,85000,95000,68000,62000,0,118000,70000
406180,597000,96000,82000,71000,72000,86000,55000,55000,75000,75000,...,82000,56000,70000,59000,105000,70000,77000,87000,59000,55000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699578,47000,0,0,10000,0,10000,6000,0,25000,0,...,35000,10000,10000,14000,27000,10000,0,45000,43000,120000
699579,236000,49000,68000,0,0,13000,50000,0,132000,35000,...,87000,68000,89000,81000,38000,0,0,104000,63000,94000
699629,67000,63000,63000,63000,64000,74000,0,121000,63000,72000,...,55000,49000,53000,47000,54000,55000,54000,47000,62000,50000
699641,278000,63000,0,0,51000,0,0,77000,0,40000,...,40000,48000,0,0,96000,0,39000,0,85000,45000
699664,333000,0,0,47000,0,43000,0,0,36000,35000,...,18000,18000,30000,35000,33000,0,44000,0,55000,0

In [80]:
pred

,2022-09-01,2022-09-02,2022-09-03,2022-09-04,2022-09-05,2022-09-06,2022-09-07,2022-09-08,2022-09-09,2022-09-10,...,2022-11-21,2022-11-22,2022-11-23,2022-11-24,2022-11-25,2022-11-26,2022-11-27,2022-11-28,2022-11-29,2022-11-30
406136,93682.782968,95406.668228,87932.192134,86481.356032,79871.679966,73092.457813,102936.904967,113035.864363,109904.936052,103815.224736,...,93683.475906,93682.884390,93682.766044,93682.777176,93682.784597,93682.801914,93682.821705,93682.759859,93682.779586,93682.783532
406139,151316.613487,175405.071092,118629.180286,164232.401415,160197.100374,150210.694217,149834.930257,161132.828739,135389.459661,183836.936788,...,152258.085904,149769.135310,151984.662249,151362.801418,151445.719622,151566.837137,151300.765816,151621.136900,150827.873655,151529.993285
406145,133518.229744,131688.198891,130380.012811,134294.588744,140061.645075,142836.518025,138652.927316,134131.628274,132278.946672,136792.181467,...,133518.229744,133518.229744,133518.229744,133518.229744,133518.229744,133518.229744,133518.229744,133518.229744,133518.229744,133518.229744
406148,66932.016106,70150.434624,68662.024880,72766.706693,62974.715850,69416.945812,54877.940100,62937.833448,70628.976875,79164.746528,...,66993.873347,66857.113947,67059.333652,66844.292128,66959.458996,66899.353512,66987.745964,66893.337708,66944.190894,66917.772105
406180,76629.421784,68521.434355,69789.250681,75985.949871,78775.165415,72725.681511,86217.343899,93520.389804,86651.293252,82934.414431,...,76629.421784,76629.421784,76629.421784,76629.421784,76629.421784,76629.421784,76629.421784,76629.421784,76629.421784,76629.421784
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699578,8377.049181,8377.049181,8377.049181,8377.049181,8377.049181,8377.049181,8377.049181,6884.278150,6884.278150,8666.255311,...,8377.049181,8377.049181,8377.049181,8377.049181,8377.049181,8377.049181,8377.049181,8377.049181,8377.049181,8377.049181
699579,40524.590163,40524.590163,40524.590163,40524.590163,40524.590163,40524.590163,40524.590163,44240.501687,52570.755953,22757.214370,...,40524.590163,40524.590163,40524.590163,40524.590163,40524.590163,40524.590163,40524.590163,40524.590163,40524.590163,40524.590163
699629,0.000000,24318.692582,36539.422901,43693.914528,48181.704496,43067.461025,83281.551843,44856.930756,52876.150008,55301.612924,...,55018.783935,55123.882389,54829.862188,55217.217421,54995.871574,55023.539805,55355.558576,55106.544498,55063.680598,55183.595324
699641,25341.369188,2477.460404,40727.025572,40727.025572,9763.091864,40727.025572,40727.025572,-6022.442967,40727.025572,16441.587370,...,25342.081770,25340.936553,25341.631856,25341.209713,25341.466011,25341.310403,25341.404878,25341.347519,25341.382344,25341.361200
699664,22024.269798,34598.769445,43038.401268,9658.693513,31573.753766,12499.519705,32549.468447,43038.401268,17470.965541,9399.739960,...,22024.260887,22024.272954,22024.269730,22024.269076,22024.270327,22024.269598,22024.269811,22024.269838,22024.269767,22024.269810

In [32]:
diffs = pd.DataFrame(data=incomes.iloc[:,1:].values - pred.values, index=pred.index, columns=pred.columns)

In [40]:
diffs.apply(abs).mean(axis=1).describe()

count      1630.000000
mean      11723.184600
std       11656.482642
min        1958.238985
25%        5884.952396
50%        8573.136600
75%       13506.099467
max      224523.869573
dtype: float64

In [39]:
diffs.apply(abs).mean(axis=0).describe()

count       91.000000
mean     11723.184600
std       1639.620115
min       9471.424978
25%      10544.580109
50%      11098.419002
75%      12875.377704
max      18803.197262
dtype: float64

In [73]:
t=(diffs > 300000).sum(axis=1)
test = t[t>1].index
t[t>1]

605329     4
616681    10
629806     2
636402     2
644825     2
658930     3
669424     2
676981     6
680324     2
686118     2
dtype: int64

In [9]:
qa.balance

,остаток на 31.08.2022 (входящий),2022-09-01 00:00:00,2022-09-02 00:00:00,2022-09-03 00:00:00,2022-09-04 00:00:00,2022-09-05 00:00:00,2022-09-06 00:00:00,2022-09-07 00:00:00,2022-09-08 00:00:00,2022-09-09 00:00:00,...,2022-11-21 00:00:00,2022-11-22 00:00:00,2022-11-23 00:00:00,2022-11-24 00:00:00,2022-11-25 00:00:00,2022-11-26 00:00:00,2022-11-27 00:00:00,2022-11-28 00:00:00,2022-11-29 00:00:00,2022-11-30 00:00:00
TID,,,,,,,,,,,,,,,,,,,,,
406136,160000,259000.0,374500.0,483400.0,601100.0,110000.0,176000.0,258500.0,356400.0,460900.0,...,754500.0,840300.0,840300.0,165000.0,165000.0,372900.0,489500.0,592900.0,675400.0,756800.0
406139,387000,500300.0,206000.0,390800.0,527200.0,613000.0,794500.0,974900.0,174000.0,270800.0,...,839600.0,153000.0,319100.0,491800.0,718400.0,918600.0,123000.0,274800.0,398000.0,594900.0
406145,287000,444300.0,593900.0,124000.0,252700.0,388000.0,542000.0,694900.0,846700.0,976500.0,...,745600.0,855600.0,179000.0,364900.0,494700.0,624500.0,749900.0,890700.0,121000.0,257400.0
406148,355000,50000.0,130300.0,188600.0,260100.0,342600.0,100000.0,158300.0,215500.0,305700.0,...,119800.0,180300.0,251800.0,345300.0,449800.0,524600.0,592800.0,592800.0,722600.0,70000.0
406180,597000,96000.0,186200.0,264300.0,343500.0,438100.0,55000.0,115500.0,198000.0,280500.0,...,480600.0,542200.0,619200.0,59000.0,174500.0,251500.0,336200.0,431900.0,496800.0,557300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699578,47000,0.0,0.0,10000.0,10000.0,21000.0,6000.0,6000.0,33500.0,33500.0,...,91300.0,102300.0,113300.0,128700.0,158400.0,10000.0,10000.0,59500.0,106800.0,238800.0
699579,236000,289900.0,364700.0,0.0,0.0,14300.0,50000.0,50000.0,195200.0,233700.0,...,342600.0,417400.0,515300.0,604400.0,38000.0,38000.0,38000.0,152400.0,221700.0,325100.0
699629,67000,63000.0,132300.0,201600.0,272000.0,353400.0,0.0,133100.0,202400.0,281600.0,...,348400.0,402300.0,460600.0,512300.0,571700.0,632200.0,54000.0,105700.0,173900.0,228900.0
699641,278000,63000.0,63000.0,63000.0,119100.0,119100.0,0.0,84700.0,84700.0,128700.0,...,183700.0,236500.0,236500.0,236500.0,342100.0,0.0,42900.0,42900.0,136400.0,185900.0
699664,333000,333000.0,333000.0,384700.0,384700.0,432000.0,0.0,0.0,39600.0,78100.0,...,48800.0,68600.0,101600.0,140100.0,176400.0,176400.0,224800.0,224800.0,285300.0,285300.0

In [50]:
outs = pd.read_csv('outliers_and_data_per_tid_per_date.csv', sep=',', index_col=0)

In [ ]:
outlier_limit=300000 
koef_outlier = 0.3

In [89]:
outs1 = outs.iloc[:61,['_outl_abs_300000_sigma_1' in x for x in outs.columns]].sum()

In [91]:
print(len(outs1[outs1!=0]))
outs1[outs1!=0]

56

406139_outl_abs_300000_sigma_1    1
406145_outl_abs_300000_sigma_1    1
406190_outl_abs_300000_sigma_1    2
406196_outl_abs_300000_sigma_1    1
406504_outl_abs_300000_sigma_1    7
406596_outl_abs_300000_sigma_1    1
605329_outl_abs_300000_sigma_1    9
605378_outl_abs_300000_sigma_1    3
605379_outl_abs_300000_sigma_1    1
606531_outl_abs_300000_sigma_1    1
607519_outl_abs_300000_sigma_1    1
609120_outl_abs_300000_sigma_1    1
616681_outl_abs_300000_sigma_1    9
619604_outl_abs_300000_sigma_1    1
622352_outl_abs_300000_sigma_1    1
622371_outl_abs_300000_sigma_1    1
622478_outl_abs_300000_sigma_1    2
623324_outl_abs_300000_sigma_1    1
629725_outl_abs_300000_sigma_1    5
629748_outl_abs_300000_sigma_1    1
634558_outl_abs_300000_sigma_1    7
634655_outl_abs_300000_sigma_1    1
634858_outl_abs_300000_sigma_1    1
634870_outl_abs_300000_sigma_1    1
636402_outl_abs_300000_sigma_1    1
636752_outl_abs_300000_sigma_1    1
636754_outl_abs_300000_sigma_1    1
637522_outl_abs_300000_sigma_1    1
638490_outl_abs_300000_sigma_1    1
644825_outl_abs_300000_sigma_1    1
648023_outl_abs_300000_sigma_1    1
657385_outl_abs_300000_sigma_1    1
657936_outl_abs_300000_sigma_1    1
658930_outl_abs_300000_sigma_1    3
661115_outl_abs_300000_sigma_1    1
664161_outl_abs_300000_sigma_1    3
668402_outl_abs_300000_sigma_1    1
674406_outl_abs_300000_sigma_1    1
676358_outl_abs_300000_sigma_1    1
676383_outl_abs_300000_sigma_1    1
676981_outl_abs_300000_sigma_1    1
676996_outl_abs_300000_sigma_1    1
677563_outl_abs_300000_sigma_1    1
679083_outl_abs_300000_sigma_1    1
680324_outl_abs_300000_sigma_1    1
680605_outl_abs_300000_sigma_1    1
682299_outl_abs_300000_sigma_1    1
683131_outl_abs_300000_sigma_1    1
686118_outl_abs_300000_sigma_1    2
686130_outl_abs_300000_sigma_1    6
687408_outl_abs_300000_sigma_1    2
688219_outl_abs_300000_sigma_1    1
689126_outl_abs_300000_sigma_1    1
692611_outl_abs_300000_sigma_1    1
698735_outl_abs_300000_sigma_1    1
698956_outl_abs_300000_sigma_1    1
dtype: int64

In [92]:
problem_tid_lst = [x[:6] for x in outs1[outs1!=0].index]

In [93]:
set(test) - set(problem_tid_lst)

{'629806', '669424'}

In [46]:
lst=[]
for i in range(1,92):
    lst.append(qa.day_df_dict[i].costs_without_vehicle.mean())

In [53]:
np.max(lst)

-76.59098075468526

In [44]:
qa.day_df_dict[0].costs_without_vehicle.mean()

KeyError: 0

In [5]:
qa.bags

{0: set(),
 1: set(),
 2: set(),
 3: set(),
 4: set(),
 5: set(),
 6: set(),
 7: set(),
 8: set(),
 9: set(),
 10: set(),
 11: set(),
 12: set(),
 13: set(),
 14: set(),
 15: set(),
 16: set(),
 17: set(),
 18: set(),
 19: set(),
 20: set(),
 21: set(),
 22: set(),
 23: set(),
 24: set(),
 25: set(),
 26: set(),
 27: set(),
 28: set(),
 29: set(),
 30: set(),
 31: set(),
 32: set(),
 33: set(),
 34: set(),
 35: set(),
 36: set(),
 37: set(),
 38: set(),
 39: set(),
 40: set(),
 41: set(),
 42: set(),
 43: set(),
 44: set(),
 45: set(),
 46: set(),
 47: set(),
 48: set(),
 49: set(),
 50: set(),
 51: set(),
 52: set(),
 53: set(),
 54: set(),
 55: set(),
 56: set(),
 57: set(),
 58: set(),
 59: set(),
 60: set(),
 61: set(),
 62: set(),
 63: set(),
 64: set(),
 65: set(),
 66: set(),
 67: set(),
 68: set(),
 69: set(),
 70: set(),
 71: set(),
 72: set(),
 73: set(),
 74: set(),
 75: set(),
 76: set(),
 77: set(),
 78: set(),
 79: set(),
 80: set(),
 81: set(),
 82: set(),
 83: set(),
 84: set(),
 85: set(),
 86: set(),
 87: set(),
 88: set(),
 89: set(),
 90: set(),
 91: set()}

In [2]:
pd.__version__

'1.4.1'

In [16]:
!pip install pandas==1.4.1

Collecting pandas==1.4.1
  Downloading pandas-1.4.1-cp38-cp38-win_amd64.whl (10.6 MB)
Requirement already satisfied: python-dateutil>=2.8.1 in d:\programs\anaconda\lib\site-packages (from pandas==1.4.1) (2.8.1)
Requirement already satisfied: numpy>=1.18.5; platform_machine != "aarch64" and platform_machine != "arm64" and python_version < "3.10" in d:\programs\anaconda\lib\site-packages (from pandas==1.4.1) (1.24.3)
Requirement already satisfied: pytz>=2020.1 in d:\programs\anaconda\lib\site-packages (from pandas==1.4.1) (2020.1)
Requirement already satisfied: six>=1.5 in d:\programs\anaconda\lib\site-packages (from python-dateutil>=2.8.1->pandas==1.4.1) (1.15.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.1.5
    Uninstalling pandas-1.1.5:
      Successfully uninstalled pandas-1.1.5

ERROR: Could not install packages due to an EnvironmentError: [WinError 5] Отказано в доступе: 'D:\\Programs\\Anaconda\\Lib\\site-packages\\~-ndas\\_libs\\algos.cp38-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

In [61]:
!pip install pandas==2.0.1

Collecting pandas==2.0.1
  Downloading pandas-2.0.1-cp38-cp38-win_amd64.whl (10.8 MB)
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Requirement already satisfied: pytz>=2020.1 in d:\programs\anaconda\lib\site-packages (from pandas==2.0.1) (2020.1)
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in d:\programs\anaconda\lib\site-packages (from pandas==2.0.1) (1.24.3)
Collecting python-dateutil>=2.8.2
  Downloading python_dateutil-2.8.2-py2.py3-none-any.whl (247 kB)
Requirement already satisfied: six>=1.5 in d:\programs\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas==2.0.1) (1.15.0)
Installing collected packages: tzdata, python-dateutil, pandas
  Attempting uninstall: python-dateutil
    Found existing installation: python-dateutil 2.8.1
    Uninstalling python-dateutil-2.8.1:
      Successfully uninstalled python-dateutil-2.8.1
  Attempting uninstall: pandas
    Found existing installation: pandas 1.4.1
    Uninstalling pandas-1.4.1:
      Successfully uninstalled pandas-1.4.1

ERROR: Could not install packages due to an EnvironmentError: [WinError 5] Отказано в доступе: 'D:\\Programs\\Anaconda\\Lib\\site-packages\\~~ndas\\_libs\\algos.cp38-win_amd64.pyd'
Consider using the `--user` option or check the permissions.